
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_template.cshtml";
}


<style>
    ul.dropdown-content {
        max-height: 200px !important;
    }

    .select-wrapper select {
        display: none !important;
    }

    .dataTables_wrapper {
        max-width: 100%;
        overflow-x: auto;
    }

    div#userTable_length select {
        display: inline-block;
        height: 30px;
        width: 67px;
    }

    div#userTable_filter {
        margin-right: 16px;
    }

    .dataTables_length, .dataTables_filter {
        display: block !important;
    }
</style>

<!-- Add modeel start-->
<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add with model</a>

<button class="waves-effect waves-light btn modal-trigger" id="btnAddInvoice">Add</button>
<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">

    <div class="modal-content">

        <div id="validation">

            <h4 class="card-title">Add Invoice</h4>
            <form>


                <div class="row">
                    <div class="input-field col m6 s12">
                        <select id="Customer"></select>
                        <label>Select Customer</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <select id="Store"></select>
                        <label>Select Store</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">tax</i>
                        <input id="tax1" type="text" class="validate">
                        <label for="tax1">Tax</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <i class="material-icons prefix">discount</i>
                        <input id="discount1" type="text" class="validate">
                        <label for="discount1">Discount</label>
                    </div>


                </div>

            </form>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn cyan waves-effect waves-light right" id="btnSubmit" type="submit" name="action">
            Submit
            <i class="material-icons right">send</i>
        </button>
        <button class="btn cyan waves-effect waves-light right" id="btnUpdate" type="submit" name="action">
            Update
            <i class="material-icons right">send</i>
        </button>
    </div>

</div>



<!--End Add modeel -->
<!--  Start Display-->
<div class="users-list-table">
    <div class="card">
        <div class="card-content">
            <!-- datatable start -->
            <div class="responsive-table">
                <table id="userTable" class="table">
                    <thead>
                        <tr>


                            <th>InvoiceGuid</th>
                            <th>InvoiceDate</th>
                            <th>StoreId</th>
                            <th>CustomerId</th>
                            <th>Tax</th>
                            <th>Discount</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- datatable ends -->
        </div>
    </div>
</div>
<!--  End Display-->
<script>
    $(document).ready(function () {
        //debugger
        $('.modal').modal();
        GetCustomer();
        GetStore();
        GetDataTableData();
        $("#btnUpdate").hide();
    });

    $(document).on("click", "#btnSubmit", function () {
        debugger

        var fileData = new FormData();
        fileData.append("CustomerId", parseInt($("#Customer").val()));
        fileData.append("StoreId", parseInt($("#Store").val()));
        fileData.append("Tax", $("#tax1").val());
        fileData.append("Discount", $("#discount1").val());


        $.ajax({
            type: 'post',
            url: '/Invoice/insert',
            data: fileData,
            contentType: false,
            processData: false,
            success: function (data) {
                alert("success");
                GetDataTableData()

            },
            error: function (err) {
                alert(err);
            }
        });

        clear()
        $('#modal1').modal('close');

    });

    function clear() {
        $("#Customer").val("")
        $("#Store").val("");
        $("#tax1").val("");
        $("#discount1").val("");

    }

    function GetDataTableData() {
        debugger

        $("#userTable").DataTable({
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "destroy": true,
            "ordering": true,
            "ajax": {
                "url": '/Invoice/GetTableData',
                "type": "post",

                "datatype": "json"
            },
            "columns": [

                {
                    "data": "InvoiceGuid",
                    "autoWidth": true,
                    "searchable": true
                },
                {
                    "data": "InvoiceDate",
                    "autoWidth": true,
                    "searchable": true,
                    render: function (data, type, row) {
                                           
                       return moment(data).format('YYYY/MM/DD');
                      
                    },
                },
                {
                    "data": "StoreName",
                    "autoWidth": true,
                    "searchable": true,
                    render: function (data, type, row) {
                        debugger
                        return data;

                    },
                }, {
                    "data": "CustomerName",
                    "autoWidth": true,
                    "searchable": true
                }, {
                    "data": "Tax",
                    "autoWidth": true,
                    "searchable": true
                }, {
                    "data": "Discount",
                    "autoWidth": true,
                    "searchable": true
                },


                {
                    data: "notes",
                    searchable: false,
                    sortable: false,
                    render: function (data, type, row) {

                        return '<td><a onclick="GetDataByID(' + row.InvoiceId + ')"><i class="material-icons">edit</i></a></td><td><a onclick=""><i class="material-icons">remove_red_eye</i></a></td><td><a onclick="Delete(' + row.InvoiceId + ')"><i class="material-icons">delete</i></a></td>';
                    }

                }
            ]


        });
    }

    function GetDataByID(id) {
        $('#modal1').modal('open');
        $('#modal1 label').addClass("active")

        //debugger
        $("#btnUpdate").show();
        $("#btnSubmit").hide();

        $.ajax({
            url: '/Invoice/GetById/' + id,
            type: 'get',
            dataType: 'json',
            success: function (data) {

                $("#Customer").val(data.CustomerId);
                $("#Store").val(data.StoreId);
                $("#tax1").val(data.Tax);

                $("#discount1").val(data.Discount);

            },
            error: function (data) {
                alert(data);
            }
        });
    }

    $(document).on("click", "#btnUpdate", function () {
        debugger
        var fileData = new FormData();
        fileData.append("CustomerId", $("#Customer").val());
        fileData.append("StoreId", $("#Store").val());
        fileData.append("Tax", $("#tax1").val());
        fileData.append("Discount", $("#discount1").val());


        $.ajax({
            url: '/Invoice/Update',
            type: 'post',
            data: fileData,

            contentType: false,
            processData: false,
            success: function (data) {
                debugger
                alert(data);
                clear();
                GetDataTableData();
            },
            error: function (err) {
                debugger
                alert(err);
            }


        });

    });


    function Delete(id) {
        debugger

        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            icon: 'warning',
            buttons: {
                cancel: true,
                delete: 'Yes, Delete It'
            }
        }).then(function (willDelete) {
            if (willDelete) {
                $.ajax({
                    url: '/Invoice/Delete/' + id,
                    type: 'post',
                    datatype: 'json',
                    success: function (data) {
                        //alert(data);
                        GetDataTableData();
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            } else {
                swal("Your Invoice is safe", {
                    title: 'Cancelled',
                    icon: "error",
                });
            }
        });






    }


    function GetCustomer() {
        $.ajax({
            url: "/Invoice/GetCustomerList",
            type: "GET",
            success: function (data) {
                //debugger
                $('#Customer').empty();
                var htmlstring = '';

                html = '<option value="" disabled selected>Select Customer</option>'
                if (data.length != 0) {
                    for (var i = 0; i < data.length; i++) {

                        htmlstring += '<option value=' + data[i].CustomerId + ' Selected>' + data[i].CustomerName + '</option>'

                    }
                }
                $('#Customer').html(htmlstring).formSelect();


            },
            error: function (response) {
                M.toast({ html: "Something Went Wrong.", classes: 'rounded toast-danger' });
            },

        });
    }

    function GetStore() {
        $.ajax({
            url: "/Invoice/GetStoreList",
            type: "GET",
            success: function (data) {
               // debugger
                $('#Store').empty();
                var htmlstring = '';

                html = '<option value="" disabled selected>Select Customer</option>'
                if (data.length != 0) {
                    for (var i = 0; i < data.length; i++) {

                        htmlstring += '<option value=' + data[i].StoreId + ' Selected>' + data[i].StoreName + '</option>'

                    }
                }
                $('#Store').html(htmlstring).formSelect();


            },
            error: function (response) {
                M.toast({ html: "Something Went Wrong.", classes: 'rounded toast-danger' });
            },

        });
    }

    $(document).on("click", "#btnAddInvoice", function () {
        
        window.location.href = "/Invoice/invoiceAdd";
    });

</script>

