
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_template.cshtml";
    //Layout = null;
}

<style>
    ul.dropdown-content {
        max-height: 200px !important;
    }
</style>
<section class="invoice-edit-wrapper section">
    <div class="row">
        <!-- invoice view page -->
        <div class="col xl9 m8 s12">
            <div class="card">
                <div class="card-content px-36">
                    <!-- header section -->
                    <div class="row mb-3">
                        <div class="col xl4 m12 display-flex align-items-center">
                            <h6 class="invoice-number mr-4 mb-5">Invoice#</h6>
                            <input type="text" value="000756">
                        </div>
                        <div class="col xl8 m12">
                            <div class="invoice-date-picker display-flex align-items-center">
                                <div class="display-flex align-items-center">
                                    <small>Date Issue: </small>
                                    <div class="display-flex ml-4">
                                        <input type="text" class="pickadate mr-2 mb-1" value="08/10/2019">
                                    </div>
                                </div>
                                <div class="display-flex align-items-center">
                                    <small>Date Due: </small>
                                    <div class="display-flex ml-4">
                                        <input type="text" class="pickadate mb-1" value="08/10/2019">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- logo and title -->
                    <div class="row mb-3">
                        <div class="col m6 s12 invoice-logo display-flex pt-1 push-m6">
                            <img src="../../../app-assets/images/gallery/pixinvent-logo.png" alt="logo" height="46" width="164" />
                        </div>
                        <div class="col m6 s12 pull-m6">
                            <h4 class="indigo-text">Invoice</h4>
                            @*<input type="text" value="Admin Template">*@
                            <select id="Store" class="select2 browser-default"></select>
                        </div>
                    </div>
                    <!-- invoice address and contact -->
                    <div class="row mb-3">
                        <div class="col l6 s12">
                            <h6>Bill To</h6>
                            <div class="input-field ">
                                @*<select id="Customer" class="select2 "></select>*@
                                <select id="Customer" class="select2 browser-default"></select>
                            </div>
                            <div class="input-field">
                                <input type="text" id="tax1" placeholder="Enter Tax %">

                            </div>
                            <div class="input-field">

                                <input type="text" id="discount1" placeholder="Enter Discount %">
                            </div>

                        </div>
                    </div>
                    <!-- product details table-->
                    <div class="invoice-product-details mb-3">
                        <form class="form invoice-item-repeater">
                            <div data-repeater-list="group-a">
                                <div class="mb-2" data-repeater-item>
                                    <!-- invoice Titles -->
                                    <div class="row mb-1">
                                        <div class="col s3 ">
                                            <h6 class="m-0">Item</h6>
                                        </div>
                                        <div class="col s3">
                                            <h6 class="m-0">Cost</h6>
                                        </div>
                                        <div class="col s3">
                                            <h6 class="m-0">Qty</h6>
                                        </div>
                                        <div class="col s3 m2">
                                            <h6 class="m-0">Total</h6>
                                        </div>
                                    </div>
                                    <!-- forloop data -->
                                    <div id="addColoum">
                                        <div class="invoice-item display-flex mb-1">
                                            <div class="invoice-item-filed row pt-1 col s12">
                                                <div class="col s12 m3 input-field">
                                                    <select class="product invoice-item-select select2 browser-default " id="product1">
                                                    </select>
                                                </div><div class="col m3 s12 input-field">
                                                    <input type="text"  id="productPrice1" disabled>
                                                </div>
                                                <div class="col m3 s12 input-field">
                                                    <input type="text" class="productqty" id="productqty1" value="1" onfocusout="InsertProductRow()">
                                                </div><div class="col m2 s12 input-field">
                                                    <input type="text" id="productTotal1" value="" disabled>
                                                </div>
                                            </div><div class="invoice-icon display-flex flex-column justify-content-between" id="btnDeleteRow">
                                                <span class="delete-row-btn">
                                                    <i class="material-icons">clear</i>
                                                </span>
                                            </div>
                                        </div>

                                        @*<div class="invoice-item display-flex mb-1">
                                                <div class="invoice-item-filed row pt-1 col s12">
                                                    <div class="col s12 m3 input-field">
                                                        <select class="product invoice-item-select select2 browser-default " id="product1"></select>
                                                    </div>
                                                    <div class="col m3 s12 input-field">
                                                        <input type="text" id="productPrice1">
                                                    </div>
                                                    <div class="col m3 s12 input-field">
                                                        <input type="text" id="productqty1" value="" onfocusout="Checkdata(this)">
                                                    </div>
                                                    <div class="col m2 s12 input-field">
                                                        <input type="text" id="productTotal1" value="" disabled>
                                                    </div>

                                                </div>
                                                <div class="invoice-icon display-flex flex-column justify-content-between">
                                                    <span class="delete-row-btn">
                                                        <i class="material-icons">clear</i>
                                                    </span>

                                                </div>
                                            </div>*@
                                    </div>
                                    <!--End forloop data -->
                                </div>
                            </div>
                            @*<div class="input-field">
                                    <button class="btn invoice-repeat-btn" data-repeater-create type="button" id="btnAddItem">
                                        <i class="material-icons left">add</i>
                                        <span>Add Item</span>
                                    </button>
                                </div>*@
                        </form>
                    </div>
                    <!-- invoice subtotal -->
                    <div class="invoice-subtotal">
                        <div class="row">
                            <div class="col m5 s12">
                                <div class="input-field">
                                    <input type="text" value="Partial Payment">
                                </div>
                                <div class="input-field">
                                    <input type="text" value="Happy to give you a 10% discount.">
                                </div>
                            </div>
                            <div class="col xl4 m7 s12 offset-xl3">
                                <ul>
                                    <li class="display-flex justify-content-between">
                                        <span class="invoice-subtotal-title">Subtotal</span>
                                        <h6 class="invoice-subtotal-value" id="subtotal1"></h6>

                                    </li>
                                    <li class="display-flex justify-content-between">
                                        <span class="invoice-subtotal-title">Discount</span>
                                        <h6 class="invoice-subtotal-value" id="discountAmount1">- $ 09.60</h6>
                                    </li>
                                    <li class="display-flex justify-content-between">
                                        <span class="invoice-subtotal-title">Tax</span>
                                        <h6 class="invoice-subtotal-value" id="taxAmount1">21%</h6>
                                    </li>
                                    <li>
                                        <div class="divider mt-2 mb-2"></div>
                                    </li>
                                    <li class="display-flex justify-content-between">
                                        <span class="invoice-subtotal-title">Invoice Total</span>
                                        <h6 class="invoice-subtotal-value" id="invoiceTotal1">$ 61.40</h6>
                                    </li>

                                    <li class=" mt-2">
                                        <a href="app-invoice-view.html" class="btn btn-block waves-effect waves-light">Preview</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- invoice action  -->
        <div class="col xl3 m4 s12">
            <div class="card invoice-action-wrapper mb-10">
                <div class="card-content">
                    <div class="invoice-action-btn">
                        <a class="btn indigo waves-effect waves-light display-flex align-items-center justify-content-center">
                            <i class="material-icons mr-4">check</i>
                            <span class="responsive-text">Send Invoice</span>
                        </a>
                    </div>
                    <div class="invoice-action-btn">
                        <a class="btn btn-light-indigo btn-block waves-effect waves-light">
                            <span class="responsive-text">Download Invoice</span>
                        </a>
                    </div>
                    <div class="row invoice-action-btn">
                        <div class="col s6 preview">
                            <a class="btn btn-light-indigo btn-block waves-effect waves-light">
                                <span class="responsive-text">Preview</span>
                            </a>
                        </div>
                        <div class="col s6 save">
                            <a class="btn btn-light-indigo btn-block waves-effect waves-light">
                                <span class="responsive-text">Save</span>
                            </a>
                        </div>
                    </div>
                    <div class="invoice-action-btn">
                        <a class="btn waves-effect waves-light display-flex align-items-center justify-content-center">
                            <i class="material-icons mr-3">attach_money</i>
                            <span class="responsive-text">Add Payment</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="invoice-payment mb-3">
                <div class="invoice-payment-option mb-3">
                    <p class="mb-0 mt-3">Accept payments via</p>
                    <select name="payment" id="paymentOption">
                        <option value="DebitCard">Debit Card</option>
                        <option value="DebitCard">Credit Card</option>
                        <option value="DebitCard">Paypal</option>
                        <option value="DebitCard">Internet Banking</option>
                        <option value="DebitCard">UPI Transfer</option>
                    </select>
                </div>
                <div class="invoice-terms display-flex flex-column">
                    <div class="display-flex justify-content-between pb-2">
                        <span>Payment Terms</span>
                        <div class="switch">
                            <label>
                                <input type="checkbox" checked>
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                    <div class="display-flex justify-content-between pb-2">
                        <span>Client Notes</span>
                        <div class="switch">
                            <label>
                                <input type="checkbox" checked>
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                    <div class="display-flex justify-content-between pb-2">
                        <span>Payment Stub</span>
                        <div class="switch">
                            <label>
                                <input type="checkbox">
                                <span class="lever"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    //debugger
    var ProductArray = [];
    var rowno = 1;
    var tprice = 0;
    var htmlstring = '';

    $(document).ready(function () {
        // InsertProductRow()
        GetCustomer();
        GetStore();
        GetProduct()
        desigin()

    });

    function GetCustomer() {
        $.ajax({
            url: "/Invoice/GetCustomerList",
            type: "GET",
            success: function (data) {
                // debugger
                $('#Customer').empty();
                var htmlstring = '';

                htmlstring = '<option value="" disabled selected>Select Customer</option>'
                if (data.length != 0) {
                    for (var i = 0; i < data.length; i++) {

                        htmlstring += '<option value=' + data[i].CustomerId + ' Selected>' + data[i].CustomerName + '</option>'

                    }
                }
                $('#Customer').html(htmlstring).formSelect();
                //$('#Customer').on('change', function () {
                //    var custId = parseInt($('#Customer').val()) - 1;

                //    $('#customerId').val(data[custId].CustomerId);
                //    $('#customerName1').val(data[custId].CustomerName);
                //    $('#customerAddress1').val(data[custId].CustomerAddress);
                //    $('#customerEmail1').val(data[custId].CustomerEmail);
                //    $('#customerPhone1').val(data[custId].CustomerPhone);

                //});

            },
            error: function (response) {
                M.toast({ html: "Something Went Wrong.", classes: 'rounded toast-danger' });
            },

        });
    }

    function GetStore() {
        $.ajax({
            url: "/Invoice/GetStoreList",
            type: "GET",
            success: function (data) {
                // debugger
                $('#Store').empty();
                var htmlstring = '';

                htmlstring = '<option value="" disabled selected>Select Customer</option>'
                if (data.length != 0) {
                    for (var i = 0; i < data.length; i++) {

                        htmlstring += '<option value=' + data[i].StoreId + ' Selected>' + data[i].StoreName + '</option>'

                    }
                }
                $('#Store').html(htmlstring).formSelect();


            },
            error: function (response) {
                M.toast({ html: "Something Went Wrong.", classes: 'rounded toast-danger' });
            },

        });
    }
    function GetProduct() {
        // debugger
        $.ajax({
            url: "/Invoice/GetProductList",
            type: "GET",
            success: function (data) {
                //debugger
                //$('.product').empty();
                var htmlstring = '';

                htmlstring = '<option value="" disabled selected>Select Product</option>'
                if (data.length != 0) {
                    for (var i = 0; i < data.length; i++) {

                        htmlstring += '<option value=' + data[i].ProductId + ' Selected>' + data[i].ProductName + '</option>'

                    }
                }
                $('.product').html(htmlstring).formSelect();
                $('.product').on('change', function () {
                    //debugger
                    var prodId = parseInt($('#product' + rowno).val()) - 2;

                    $("#productPrice" + rowno).val(data[prodId].ProductPrice);
                    var price = parseInt(data[prodId].ProductPrice);
                    var qty = parseInt($('#productqty' + rowno).val());
                    var total = price * qty;
                    $('#productTotal' + rowno).val(total);




                    ProductQtyChahnge(price)


                });





            },
            error: function (response) {
                M.toast({ html: "Something Went Wrong.", classes: 'rounded toast-danger' });
            },

        });
    }
    function ProductQtyChahnge(price) {

        $('.productqty').on('change', function () {
            debugger

            var qty = parseInt($('#productqty' + rowno).val());
            var total = price * qty;
            $('#productTotal' + rowno).val(total);

            var texpercentage = $("#tax1").val();
            var discountpercentage = $("#discount1").val();


        });
    };


    function InsertProductRow() {
        // alert("inside Checkdata");
        //debugger
        AddProductData()
        GetProduct()
        rowno += 1;
        htmlstring = '';
        htmlstring += '<div class="invoice-item display-flex mb-1" ><div class=" invoice-item-filed row pt-1 col s12"><div class="col s12 m3 input-field"><select class="product invoice-item-select select2 browser-default " id="product' + rowno + '"></select></div><div class="col m3 s12 input-field"><input type="text" class="product-price" disabled id="productPrice' + rowno + '"></div><div class="col m3 s12 input-field"><input class="productqty" type="text" id="productqty' + rowno + '" value="" onfocusout="InsertProductRow(this)"></div><div class="col m2 s12 input-field"><input type="text" id="productTotal' + rowno + '" value="" disabled></div></div><div class="invoice-icon display-flex flex-column justify-content-between"  id="btnDeleteRow"><span  class="delete-row-btn"><i class="material-icons">clear</i></span></div></div>';
        $('#addColoum').append(htmlstring);

        $(parentRow).find('.product-price')
        for (var i = 0; i < ProductArray.length; i++) {
            debugger
            tprice += +ProductArray[i].Total;
            $('#subtotal1').html(tprice);
        }

    }

    function validation() {

        if ($('#product1').val() == "") {

            alert("Please select produuct");
        }
        else if ($('#productPrice1').val() == "") {

            alert("Please select produuct");
        }
        else if ($('#productqty1').val() == "") {
            alert("please enter Qty");
        }
        else if ($('#productTotal1').val() == "") {
            alert("Please enter qty");
        }


        else {


            return "success";

        }
    }


    function AddProductData() {
        debugger
        var res = validation();
        if (res = "success") {

            var productId = $("#product" + rowno).val();
            var price = $("#productPrice" + rowno).val();
            var qty = $("#productqty" + rowno).val();
            var total = $("#productTotal" + rowno).val();
            debugger
            if (productId != null) {
                
                ProductArray.push({

                    ProductId: productId,
                    Quantity: qty,
                    Total: total

                })
            }


        }



    }




    $(document).on("click", "#addInvoice1", function () {
        debugger

        var fileData = new FormData();
        fileData.append("CustomerId", parseInt($("#Customer").val()));
        fileData.append("StoreId", parseInt($("#Store").val()));
        fileData.append("Tax", $("#tax1").val());
        fileData.append("Discount", $("#discount1").val());


        $.ajax({
            type: 'post',
            url: '/Invoice/insert',
            data: fileData,
            contentType: false,
            processData: false,
            success: function (data) {
                debugger
                alert("success");
                if (data = "success") {
                    window.location.href = '/Invoice/index';
                }
                GetDataTableData()

            },
            error: function (err) {
                alert(err);
            }
        });

        clear()
        $('#modal1').modal('close');

    });


    $(document).on("click", "#btnDeleteRow", function () {
        $(this).parent().remove()
        // alert();
    });


    //function ClearProductData() {
    //    debugger
    //    $("#product1").val("");
    //    $("#productPrice1").val("");
    //    $("#productqty1").val("");
    //    $("#productTotal1").val("");
    //}
    function clear() {
        $("#Customer").val("")
        $("#Store").val("");
        $("#tax1").val("");
        $("#discount1").val("");

    }

    function desigin() {
        $(".select2").select2({
            dropdownAutoWidth: true,
            width: '100%'

        });
    }


</script>